.sendMail {
  position: fixed;
  bottom: 0px;
  right: 60px;
  width: 40%;
  height: 45%;
  max-width: 520px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.sendMail-header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightgray;
  background-color: #404040;
}

.sendMail-header > h3 {
  color: whitesmoke;
  font-size: 13px;
}

.sendMail-send {
  background-color: #3079ed;
  padding: 8px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.sendMail-close {
  cursor: pointer;
}

.sendMail > form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sendMail-error {
  background-color: white;
  color: red;
  text-align: right;
  padding: 2px;
}

.sendMail > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}

.sendMail > form > textarea {
  padding: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
}

.sendMail-message {
  flex: 1;
}

.sendMail-options {
  background-color: white;
}

@media (max-width: 500px) {
  .sendMail {
    position: fixed;
    width: 70%;
    height: 55%;
  }
}
