.sort-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 10px 0 10px;
  gap: 15px;
}

.sort-container select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s;
}

.sort-container select:focus {
  border-color: #4285f4;
}

.sort-container button {
  background-color: transparent;
  color: #333;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.sort-container button:hover {
  color: #357abf;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-icon {
  animation: rotate 1s linear;
}

@media only screen and (max-width: 700px) {
  .sort-container {
    position: relative;
    left: 15px;
  }
}
