.mail-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  padding: 15px 20px;
}

.mail-filter > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mail-filter input[type='text'] {
  padding: 10px 40px;
  width: 500px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.3);
  transition: box-shadow 0.3s;
}

.mail-filter input[type='text']:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.55);
}

.mail-filter select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.2s;
  margin-right: 10px;
}

.mail-filter select:focus {
  border-color: #4285f4;
}

.mail-filter label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.mail-filter input[type='checkbox'] {
  margin-right: 5px;
}

.mail-filter button {
  position: absolute;
  background-color: transparent;
  color: black;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.mail-filter button:hover {
  color: #357abf;
}

@media only screen and (max-width: 1140px) {
  .mail-filter > div {
    position: relative;
    right: 20px;
  }

  .mail-filter input[type='text'] {
    position: relative;
    left: 30px;
  }

  .mail-filter button {
    left: 25px;
    z-index: 2;
  }
}

@media only screen and (max-width: 700px) {
  .mail-filter input[type='text'] {
    width: 220px;
    transition: 300ms;
  }
}
