/* mail list */

.mail-list {
  height: 100%;
  background-color: var(--light);
}

.no-emails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20em;
}

.no-emails-message {
  font-size: 1.5rem;
}
