/* home */

.home-content {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  width: 100%;
  max-height: calc(100vh - 56px);
}

.home-content>* {
  grid-column: 2;
}

.home-content:first-child {
  margin-block-start: 1em;
}