.note-preview {
    color: var(--dark);
    max-width: 250px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* background-color: #fff; */
    word-break: break-word;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
    padding: 1em;
    transition: box-shadow border .3s ease-in-out;
}

.note-preview .pin-card {
    display: flex;
    justify-content: flex-end;
}

.note-preview:hover {
    outline: 1px solid var(--grey);
    box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, .15);
}

.note-preview .image {
    object-fit: contain;
}

.note-preview .image img {
    display: block;
    height: unset;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.note-preview .content {
    padding: 2rem 1.8rem;
}

.note-preview h4 {
    margin: 0 0 1em;
    font-size: 1.5em;
    line-height: 1.5em;
}

.note-preview .note-controls {
    display: flex;
    opacity: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    justify-content: center;
    align-self: end;
    transition: all .2s ease-in-out;
}

.note-preview:hover .note-controls {
    opacity: 1;

}

.note-preview .note-controls .btn {
    margin: 0 0.5em;
}

.note-preview .note-controls .btn {
    color: var(--dark);
}

.note-preview .btn:hover {
    cursor: pointer;
    color: var(--dark-grey);
}

.note-preview .loading .image,
.note-preview .loading h4,
.note-preview .loading .description {
    background-color: var(--loading-grey);
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}

.note-preview .loading h4 {
    min-height: 1.6rem;
    border-radius: 4px;
    animation-delay: .05s;
}

.note-preview .loading .description {
    min-height: 4rem;
    border-radius: 4px;
    animation-delay: .06s;
}