.modal.edit-note {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal.edit-note .modal-content {
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    color: var(--dark);
    max-width: 90vw;
    min-width: 60vw;
    max-height: 90vh;
    /* display: grid; */
    grid-template-rows: auto 1fr auto;
    word-break: break-word;
    border-radius: 6px;
    overflow: hidden;
    padding: 1em;
    transition: box-shadow border .3s ease-in-out;
    outline: 1px solid var(--grey);
}

.modal-content .note-details .pin-card {
    display: flex;
    justify-content: flex-end;
}

.note-details .image {
    display: block;
    height: unset;
    width: 100%;
    max-height: 60vh;
    height: inherit;
    object-fit: cover;
    margin-block-end: 1em;
}

.note-details .btn-remove-todo {
    margin-inline-start: 1em;
}

.note-details .fa-square-check {
    margin-inline-end: 1em;
}

.note-details input {
    color: var(--dark);
    flex-grow: 1;
    font-family: 'poppins';
    padding: .5em .5em .5em 0;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--light);
    background-color: transparent;
    min-height: 36px;
    /* Set a minimum height for input */
    height: auto;
    /* Allow input to grow in height */
    resize: vertical;
}

.note-details input:focus {
    outline-width: 0;
}

.note-details .content>input:first-of-type {
    font-size: 1.3em;
}

.note-details li div {
    display: flex;
    align-items: center;
}

.note-details .date-completed {
    margin-inline-start: 1em;
}

.note-details .content {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;
    align-items: stretch;
}

.note-details .note-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-details .note-options .last-edited {
    font-size: .7rem;
}

.note-details .content .new-todo {
    display: flex;
    align-items: center;
}

.note-details .note-controls {
    display: flex;
    font-size: 1rem;
    line-height: 1.4rem;
    align-items: center;
}

.note-details .note-controls>.btn {
    color: var(--dark);
    margin: 0 0.5em;
}

.note-details .date-completed {
    font-size: .7rem;
    white-space: nowrap;
    /* Prevent date from wrapping to the next line */
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Add ellipsis (...) for long dates */
}

.note-details .btn {
    transition: color .15s ease;
}

.note-details .note-controls>.btn:hover {
    cursor: pointer;
    color: var(--light-primary);
}

.note-details .pin-card .btn:hover {
    cursor: pointer;
    color: var(--light-primary);
}