.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.clr0 {
    background-color: var(--light);
}

.clr1 {
    background-color: var(--primary);
}

.clr2 {
    background-color: var(--success);
}

.clr3 {
    background-color: var(--danger);
}

.hide {
    opacity: 0;
}

.crossed {
    text-decoration: line-through;
}