.app-open {
  position: relative;
  width: calc(100% - 60px);
  left: 70px;
  transition: all 0.3s ease;
  background-color: white;
}

.app-open.content {
  width: calc(100% - 230px);
  left: 230px;
}
