 /* note index */

 .main-note-container {
     display: grid;
     grid-template-columns: minmax(20px, 1fr) minmax(80vw, 980px) minmax(20px, 1fr);
 }

 .main-note-container>* {
     grid-column: 2;
 }

 .notes-container {
     color: var(--dark);
 }

 .loading-note-index {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }