 /* note index */

 .main-note-container {
     display: grid;
     grid-template-columns: minmax(20px, 1fr) minmax(80vw, 980px) minmax(20px, 1fr);
 }

 .main-note-container>* {
     grid-column: 2;
 }

 .note-list {
     display: grid;
     grid-auto-flow: dense;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 10px;
 }

 .notes-container {
     color: var(--dark);
 }