 /* note index */

 .main-note-container {
     display: grid;
     grid-template-columns: minmax(60px, auto) minmax(20px, 1fr) minmax(80vw, 980px) minmax(20px, 1fr);
     background-color: var(--grey);
 }

 .main-note-container:first-child {
     grid-column: 1;
 }

 .main-note-container>*:not(:first-child) {
     grid-column: 3;
 }

 .notes-container {
     color: var(--grey);
 }

 .loading-note-index {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }