.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 3em;
  right: 3em;
}

.nav .item {
  color: var(--dark);
  position: absolute;
  border-radius: 50%;
  background-color: var(--light);
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: transform 400ms ease-in-out;
}

.nav .item.open_nav {
  font-size: 22px;
  width: 68px;
  padding: 22px 0;
}

.open .item.open_nav {
  transform: rotate(42deg);
}

.open .item:nth-child(1) {
  transform: translate(-100px, 0);
  padding: 0.5em;
  background-color: var(--light);
}

.open .item:nth-child(2) {
  transform: translate(-45px, -80px);
  transition-delay: 100ms;
  padding: 0.5em;
  background-color: var(--light);
}

.open .item:nth-child(3) {
  transform: translate(0, -100px);
  transition-delay: 150ms;
  padding: 0.5em;
  background-color: var(--light);
}

.open .item:nth-child(4) {
  transform: translate(-80px, -45px);
  transition-delay: 50ms;
  padding: 0.5em;
  background-color: var(--light);
}

